<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wasei.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AA3F3B61BDA2BAB00DFE0AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AA3F3CA1BDA2BAB00DFE0AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AA3F3D51BDA2BAB00DFE0AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
